body {
    background-color: linen;
   /*  background-image: url("gradient_bg.png");
    background-repeat: repeat-x; 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background: #ffffff url("img_tree.png") no-repeat right top;
    */
}

input[type="text"]{
	
	height: 40px;
	width: 400px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: white;
	color: blue;
	
}

h1 {
	
	border-style: dashed;
}

table{
	
	border-style: dashed;
	width :   1200px;
	height :  600px;
}

td {
    text-align: center;  
    margin-left: 20px;
    font-weight: bold; 
}

